.vs/
packages/

Development/

*.suo
*.user
_ReSharper.*


Website/node_modules
Website/src/.vuepress/dist
Website/src/.vuepress/.temp
Website/src/.vuepress/.cache


Carmine/bin/
Carmine/obj/

Carmine.UI/bin/
Carmine.UI/obj/
